{% extends 'base.html' %}

{% block content %}

{% if modsToUpdate != 0 %}
    <h1>Vous avez des mods à mettre à jour</h1>
{% endif %}

<h1>Liste des Nouveaux Mods</h1>
<table>
    <tbody>
        {% for mod in objects %}
            <tr>
                <td></td>
                <td>
                    <a href="{{ mod.link }}" target="_blank">
                        <strong>{{ mod.title }}</strong>
                    </a>
                </td>
                <td>
                    <form action="/add" method="post" style="display:inline;">
                        <input type="hidden" name="link" value="{{ mod.link }}">
                        <button type="submit">Ajouter aux téléchargés</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let rows = document.querySelectorAll("tbody tr");
        rows.forEach((row, index) => {
            row.querySelector("td:first-child").textContent = index + 1;
        });
    });
</script>


{% endblock %}